@charset "UTF-8";
@font-face {
  font-family: rocket;
  src: url("../font/redrocketital.ttf"); }

@font-face {
  font-family: rocketout;
  src: url("../font/redrocket3dital.ttf"); }

@font-face {
  font-family: guitaluevo;
  src: url("../font/Gitaluevo.ttf"); }

@font-face {
  font-family: monserrat_bold;
  src: url("../font/Montserrat-Bold.ttf"); }

* {
  font-family: "Roboto", sans-serif;
  color: #fffbed;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  list-style-type: none;
  transition: .4s linear;
  box-sizing: border-box; }

body {
  background: #161616; }

html::-webkit-scrollbar {
  width: .5rem; }

html::-webkit-scrollbar-track {
  background: transparent; }

html::-webkit-scrollbar-thumb {
  background: #fffbed;
  border-radius: .5rem; }

html {
  scrollbar-width: .3rem;
  scrollbar-color: #fffbed transparent; }

main {
  margin: 0 7%; }

h1 {
  font-family: "guitaluevo", "Roboto", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  z-index: 100;
  padding-bottom: 1rem; }

h1 span {
  font-family: "guitaluevo", "Roboto", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase; }

.spanRed {
  font-family: "guitaluevo", "Roboto", sans-serif;
  color: #ff002f;
  font-size: 3.5rem;
  text-transform: uppercase; }

h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold; }

h2 span {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #ff002f; }

.accordion-item {
  background-color: #161616;
  border-radius: 10px; }
  .accordion-item .collapsed {
    border-radius: 10px;
    background-color: #4d4d4d !important;
    color: #fffbed;
    border: 0.05rem solid rgba(255, 255, 255, 0.1) !important; }
    .accordion-item .collapsed:active {
      border: 0.05rem solid rgba(255, 255, 255, 0.1) !important; }

.accordion-button {
  background-color: #ff002f !important;
  color: #fffbed !important;
  border-radius: 10px !important;
  border: 0.05rem solid rgba(255, 255, 255, 0.1) !important; }

.show {
  border: 0.05rem solid rgba(255, 255, 255, 0.1) !important; }

/* From cssbuttons.io by @ernestnash */
.tarjeta {
  border-radius: 20px;
  transition: all .3s;
  min-width: 240px;
  height: 450px;
  margin-bottom: 50px; }
  .tarjeta:hover {
    box-shadow: 0px 0px 40px 1px rgba(253, 0, 0, 0.616); }
  .tarjeta .tarjeta2 {
    border-radius: 20px;
    text-align: center;
    min-width: 240px;
    height: 450px;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.099);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }
    .tarjeta .tarjeta2 .carousel {
      border-radius: 20px;
      width: 100%;
      height: 100%; }
      .tarjeta .tarjeta2 .carousel::before {
        border-radius: 20px;
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        backdrop-filter: blur(5rem);
        background-color: rgba(255, 255, 255, 0.065);
        border: 0.1rem solid rgba(255, 255, 255, 0.7);
        box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2);
        width: 100%;
        height: 100%;
        clip-path: circle(200px at 40% 7%);
        transition: 0.5s ease-in-out; }
      .tarjeta .tarjeta2 .carousel:hover::before {
        clip-path: circle(600px at 80% -20%); }
    .tarjeta .tarjeta2:hover {
      border-radius: 20px; }
    .tarjeta .tarjeta2 .d-block {
      object-fit: scale-down;
      height: 15rem; }
    .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion {
      color: #161616; }
      .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion h2 {
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ff002f;
        margin: auto;
        font-family: guitaluevo;
        margin: 5px;
        padding: 0; }
      .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .precio {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        text-transform: uppercase;
        font-family: roboto; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .precio h3 {
          font-weight: 800;
          font-size: 1.2rem;
          margin: 5px; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .precio span {
          font-size: 1rem;
          margin: 5px;
          color: #111;
          background-color: #fffbed;
          border-radius: 2px;
          padding: 2px 10px; }
      .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: roboto;
        padding: 5px; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color h3 {
          font-weight: 800;
          font-size: 1.2rem;
          margin: 5px; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color span {
          width: 20px;
          height: 20px;
          background: #fffbed;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color .activo {
          border: 0.3rem solid #eca500;
          width: 30px;
          height: 30px; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color .blanco {
          background-color: white; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color .rojo {
          background-color: red; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color .negro {
          background-color: black; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color .azul {
          background-color: blue; }
        .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion .color .amarillo {
          background-color: yellow; }
      .tarjeta .tarjeta2 .carousel-item .tarjeta__descripcion a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff002f;
        border-radius: 4px;
        margin-top: 10px;
        color: #fffbed;
        text-decoration: none;
        font-weight: 600; }
    .tarjeta .tarjeta2 .carousel-item .tarjeta__iconos a {
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      border: 0.05rem solid rgba(255, 255, 255, 0.1);
      color: #ff002f;
      margin: .3rem; }
      .tarjeta .tarjeta2 .carousel-item .tarjeta__iconos a:hover {
        background: #fffbed; }

/* --------------------------------- 
------ Estilos de Cabecera  --------
--------------------------------- */
.cabecera {
  background: rgba(10, 10, 10, 0.5);
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 90px;
  margin-bottom: 3rem;
  position: sticky;
  top: 0;
  z-index: 1000; }
  .cabecera__logo {
    margin-left: 7%; }
  .cabecera__logo-img {
    width: 65px; }
  .cabecera__nav li a {
    font-size: 1rem;
    text-transform: uppercase; }
  .cabecera__nav li a:hover {
    color: #ff002f !important;
    font-weight: bold;
    background-color: rgba(10, 10, 10, 0.5); }

.navbar-nav {
  margin-right: 7%;
  background-color: rgba(10, 10, 10, 0.5);
  border: 0.05rem solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 8px 20px;
  border-radius: 200px;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1); }

.dropdown-menu, .dropdown-item {
  background-color: #161616;
  color: #fffbed; }

.badge-info {
  color: black;
  background-color: #ff002f; }

/* --------------------------------- 
----- Estilos de Bienvenida --------
--------------------------------- */
.bienvenida {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bienvenida__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0; }
  .bienvenida__opaco {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  .bienvenida__boton {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    text-decoration: none;
    border-radius: 4px; }
    .bienvenida__boton .fa-regular {
      color: #fff;
      font-size: 20px; }
    .bienvenida__boton .fa-solid {
      width: 40px;
      height: 40px;
      font-size: 30px;
      color: #fffbed; }

#bienvenida-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0rem;
  width: 500px; }

.productos {
  display: flex;
  width: 100%;
  justify-content: center; }
  .productos__categoria {
    width: 25%;
    min-width: 270px;
    margin-right: 50px;
    box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    margin-bottom: 100px;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 255, 255, 0.099);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }
    .productos__categoria h3 {
      font-size: 2rem;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: bold; }
    .productos__categoria .dropdown-item {
      color: #dddddd;
      border-radius: 250px;
      background-color: transparent; }
      .productos__categoria .dropdown-item:hover {
        background-color: #ff002f;
        color: #fff;
        border-radius: 250px; }
    .productos__categoria #navbarDropdown {
      color: #969696;
      padding-top: 5px;
      padding-bottom: 5px;
      position: relative; }
      .productos__categoria #navbarDropdown:hover {
        color: white;
        background-color: #ff002f;
        border-radius: 250px; }
      .productos__categoria #navbarDropdown:focus {
        color: white;
        background-color: #ff002f;
        border-radius: 250px; }
    .productos__categoria #menu__categ {
      position: static !important;
      transform: none !important;
      border-radius: 20px;
      margin-left: 20px;
      backdrop-filter: blur(0.2rem);
      background-color: rgba(57, 57, 57, 0.06);
      border: 0.1rem solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 1rem 1rem rgba(120, 62, 72, 0.2); }
  .productos__tarjetas {
    width: 75%; }
    .productos__tarjetas .productos__listado-h2 {
      grid-column-start: 1;
      grid-column-end: 7; }
    .productos__tarjetas .productos__listado-estructura {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
      gap: 1rem; }

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #fffbed;
  border: 3px solid #ff002f;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  margin-bottom: 100px; }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fffbed;
    background-color: #ff002f;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1; }
  .btn:hover::before {
    transform: translateX(0); }

#pt-index {
  width: 100%; }

.servicios__contenido {
  margin-bottom: 100px;
  text-align: center; }
  .servicios__contenido p {
    font-size: 1.3rem; }

.servicio__video {
  width: 70%;
  text-align: center;
  margin: 30px 15%; }

.nuestra__historia {
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 100px; }
  .nuestra__historia .nh_item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 70vh;
    min-height: 300px;
    overflow: hidden;
    transition: width 0.5s ease;
    border-radius: 20px;
    margin: 15px;
    border: 1px solid #fffbed; }
    .nuestra__historia .nh_item:before, .nuestra__historia .nh_item:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .nuestra__historia .nh_item:after {
      background: rgba(10, 10, 10, 0);
      opacity: 1;
      transition: opacity 0.5s ease; }
    .nuestra__historia .nh_item:before {
      background: linear-gradient(to bottom, black 10%, rgba(0, 0, 0, 0.85) 40%);
      z-index: 1;
      opacity: 0;
      backdrop-filter: blur(5rem);
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease; }
    .nuestra__historia .nh_item:hover {
      width: 80%; }
      .nuestra__historia .nh_item:hover:after {
        opacity: 0; }
      .nuestra__historia .nh_item:hover:before {
        opacity: 1;
        transform: translate3d(0, 0, 0) translateY(0);
        transition: opacity 1s ease, transform 1s ease 0.25s; }
      .nuestra__historia .nh_item:hover .nh_item__contenido {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s ease 0.5s; }
      .nuestra__historia .nh_item:hover .nh_item__bg {
        filter: grayscale(100%);
        object-fit: cover; }
      .nuestra__historia .nh_item:hover .nh_item__fecha {
        background-color: #ff002f;
        border-top: 1px solid #fffbed;
        border-bottom: 1px solid #fffbed; }
        .nuestra__historia .nh_item:hover .nh_item__fecha h3 {
          color: #fffbed; }
    .nuestra__historia .nh_item__fecha {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 10%;
      left: 50%;
      padding: 10px;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      background-color: #fffbed;
      border-top: 1px solid #ff002f;
      border-bottom: 1px solid #ff002f; }
      .nuestra__historia .nh_item__fecha h3 {
        font-family: guitaluevo, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #161616;
        font-size: 1.728rem;
        margin: auto;
        padding: auto; }
    .nuestra__historia .nh_item__contenido {
      transform: translate3d(0, 0, 0) translateY(25px);
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 0 1.618em;
      top: 20%;
      opacity: 0; }
      .nuestra__historia .nh_item__contenido p {
        font-size: 1.3em; }
    .nuestra__historia .nh_item__bg {
      transform: translate3d(0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      background-size: cover;
      background-position: center center;
      transition: filter 0.5s ease;
      filter: grayscale(0); }

.nosotros, .equipo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #161616;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 100px; }
  .nosotros__contenido, .equipo__contenido {
    width: 40%;
    flex: 1 1 40rem;
    padding: 2rem; }
    .nosotros__contenido .btn, .equipo__contenido .btn {
      display: inline-block;
      padding: 0.9rem 1.8rem;
      font-size: 16px;
      font-weight: 700;
      color: #ff002f;
      border: 3px solid #4d4d4d;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      text-decoration: none;
      overflow: hidden;
      z-index: 1;
      font-family: inherit; }
      .nosotros__contenido .btn::before, .equipo__contenido .btn::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: #ff002f;
        background-color: #4d4d4d;
        transform: translateX(-100%);
        transition: all .3s;
        z-index: -1; }
      .nosotros__contenido .btn:hover::before, .equipo__contenido .btn:hover::before {
        transform: translateX(0); }
  .nosotros__imagen {
    width: 50%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem; }
    .nosotros__imagen-galeria {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 0.5rem;
      grid-template-areas: 'logo1 logo1 logo2' 'logo3 logo4 logo2'; }
      .nosotros__imagen-galeria .logo1 {
        grid-area: logo1; }
      .nosotros__imagen-galeria .logo2 {
        grid-area: logo2; }
      .nosotros__imagen-galeria .logo3 {
        grid-area: logo3; }
      .nosotros__imagen-galeria .logo4 {
        grid-area: logo4; }
    .nosotros__imagen img {
      width: 100%;
      border: 2px solid #4d4d4d;
      padding: 5px; }
  .nosotros__contenido-h2 {
    font-size: 2.5rem;
    /* margin: 1rem 0; */
    text-transform: uppercase; }
  .nosotros__contenido-h2 span {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #ff002f; }
  .nosotros__contenido p, .equipo__contenido p {
    font-size: 1.3rem;
    padding: 0.7rem 0;
    line-height: 1.2; }

.equipo__imagen img {
  max-width: 400px; }

legend {
  font-size: 1.5rem;
  margin-top: 150px; }

fieldset {
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 100px;
  background: #161616;
  border-radius: 10px; }

.contacto__legend {
  font-size: 2rem;
  margin: 0 1rem;
  /* text-align: center; */
  text-transform: uppercase; }

.formulario > * {
  padding: 1rem; }

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.fila {
  grid-column: 1 / 3; }

.formulario div {
  margin: 0;
  padding: 1rem 2rem 1rem 2rem; }

.formulario input,
.formulario button,
.formulario textarea {
  width: 100%;
  padding: .7rem;
  border: none;
  background: none;
  resize: none;
  border-bottom: 1px solid #ff002f; }

.formulario button {
  background: #ff002f;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 10px; }

.formulario button:hover,
.formulario button:focus {
  background-color: #d63031;
  color: black; }

.informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #161616;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 100px; }
  .informacion__contenido {
    width: 40%;
    display: flex;
    flex-direction: column; }
    .informacion__contenido .Caja {
      position: relative;
      padding: 15px 0;
      display: flex; }
      .informacion__contenido .Caja__iconos {
        min-width: 60px;
        height: 60px;
        background: #4d4d4d;
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; }
        .informacion__contenido .Caja__iconos i {
          font-size: 30px; }
          .informacion__contenido .Caja__iconos i:hover {
            color: #ff002f; }
      .informacion__contenido .Caja__texto {
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        flex-direction: column;
        font-weight: 300; }
        .informacion__contenido .Caja__texto h3 {
          font-weight: 500;
          color: #ff002f; }
  .informacion__maps {
    width: 60%; }
    .informacion__maps .maps {
      width: 100%; }

.PreguntasFrecuentes {
  margin-bottom: 100px; }

.enlace_rapido, footer .contenedor__contacto .info li i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }
  .enlace_rapido:hover, footer .contenedor__contacto .info li i:hover {
    background: #ff002f; }
  .enlace_rapido .fa, footer .contenedor__contacto .info li i .fa {
    color: #fff;
    font-size: 20px; }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 7%;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  footer .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    footer .contenedor .sec {
      margin-right: 30px; }
    footer .contenedor h2 {
      position: relative;
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 15px;
      text-transform: none; }
      footer .contenedor h2::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: #ff002f; }
    footer .contenedor__nosotros {
      width: 40%; }
      footer .contenedor__nosotros p {
        color: #999; }
      footer .contenedor__nosotros .sci {
        margin-top: 20px;
        display: flex; }
        footer .contenedor__nosotros .sci li {
          list-style: none; }
    footer .contenedor__links_utiles {
      position: relative;
      width: 25%; }
      footer .contenedor__links_utiles ul li {
        list-style: none; }
        footer .contenedor__links_utiles ul li a {
          text-decoration: none;
          color: #999;
          margin-bottom: 10px;
          display: inline-block; }
          footer .contenedor__links_utiles ul li a:hover {
            color: #fff; }
    footer .contenedor__contacto {
      width: calc(35%- 60px);
      margin-right: 0; }
      footer .contenedor__contacto .info {
        position: relative; }
        footer .contenedor__contacto .info li {
          display: flex;
          margin-bottom: 16px;
          color: #999; }
          footer .contenedor__contacto .info li:hover {
            color: #fff; }

.footer__creador {
  text-align: center; }

.footer__diseñador {
  color: #8282a0;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 0.8rem 0; }
  .footer__diseñador span {
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: guitaluevo;
    font-weight: 100;
    padding: 0 3px; }

.footer__linke {
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: roboto;
  font-weight: 100;
  padding: 0 3px; }
  .footer__linke :hover {
    text-align: center;
    font-size: 0.9rem;
    color: #ff002f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 100;
    padding: 0 3px; }

@media (max-width: 991px) {
  footer {
    padding: 40px; }
    footer .contenedor {
      flex-direction: column; }
      footer .contenedor .sec {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%; } }

.clientes {
  margin-bottom: 100px;
  background-color: #161616;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.1);
  padding: 2rem; }
  .clientes .btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: #ff002f;
    border: 3px solid #4d4d4d;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit; }
    .clientes .btn::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: #ff002f;
      background-color: #4d4d4d;
      transform: translateX(-100%);
      transition: all .3s;
      z-index: -1; }
    .clientes .btn:hover::before {
      transform: translateX(0); }

.clientes__contenido p {
  font-size: 1.3rem; }

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 450px; }

.swiper-slide img {
  display: block;
  width: 100%; }

.swiper-slide video {
  display: block;
  width: 100%; }

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-2900px, 0, 0);
    /* The image width */ } }

.marcas {
  background-color: #fff;
  overflow: hidden; }
  .marcas .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: slide 30s linear infinite; }
  .marcas img {
    height: 50px;
    padding: 5px 50px;
    filter: grayscale(100%); }

@media screen and (max-width: 1151px) {
  .nh_item__contenido p {
    font-size: 1.2em; } }

@media screen and (max-width: 991px) {
  .informacion {
    flex-direction: column; }
    .informacion__contenido {
      width: 100%;
      margin-bottom: 40px; }
    .informacion__maps {
      width: 100%; }
  .nuestra__historia .nh_item__contenido p {
    font-size: 0.8em; } }

@media screen and (max-width: 768px) {
  .navbar-nav {
    background-color: #161616;
    border-radius: 5px;
    width: 100vw;
    height: 100vh; }
  .cabecera__nav li a {
    font-size: 2rem; }
  .categoria {
    width: 100%;
    margin-right: 50px; }
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .productos__categoria {
      width: 100%;
      max-width: 350px; }
    .productos__listado {
      width: 100%; }
  .tarjeta {
    width: 240px;
    height: 400px; }
    .tarjeta .tarjeta2 {
      width: 240px;
      height: 400px; }
      .tarjeta .tarjeta2 .d-block {
        object-fit: scale-down;
        height: 12rem; }
      .tarjeta .tarjeta2 .carousel:after {
        content: 'IMPER';
        position: absolute;
        top: 30%;
        left: -5%;
        font-size: 6em;
        font-weight: 800;
        font-family: guitaluevo;
        color: rgba(66, 66, 66, 0.07);
        rotate: -45deg; }
  .servicio__video {
    width: 100%; }
  .nuestra__historia {
    flex-direction: column; }
    .nuestra__historia .nh_item {
      width: 100%; }
      .nuestra__historia .nh_item:hover {
        width: 100%; }
    .nuestra__historia .nh_item__contenido p {
      font-size: 0.8rem; }
  .nosotros__imagen {
    width: 100%;
    object-fit: cover;
    min-width: 200px; }
  .nosotros__contenido, .equipo__contenido {
    width: 100%;
    padding: 2rem; }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .footer__nav {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between; }
  .footer__nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .footer__nav ul li {
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .footer__nav ul li a {
    width: 100%; }
  .rrss {
    margin: 15px 0;
    padding: auto; }
  .formulario {
    display: flex;
    flex-direction: column; }
  .fila {
    grid-column: 1 / 2; }
  .contacto__rrss_img {
    width: 100px; }
  .contacto__rrss_img:hover {
    width: 100px; } }
