// -----------------------------------
// -------- Estilo de Contacto -------
// -----------------------------------

legend{
    font-size: 1.5rem;
    margin-top: 150px;
}
fieldset{
    box-shadow:$box-shadow;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 100px;
    background: $bgSeccion;
    border-radius: 10px;
    
    
}
.contacto__legend{
    font-size: 2rem;
    margin: 0 1rem;
    /* text-align: center; */
    text-transform: uppercase;
}
.formulario > *{
    padding: 1rem ;

}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fila{
    grid-column: 1 / 3;
}
.formulario div{
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
}
.formulario input,
.formulario button,
.formulario textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    resize: none;
    border-bottom: 1px solid $colorPrincipal;
}
.formulario button{
    background: $colorPrincipal;
    border: 0;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 10px;
}
.formulario button:hover,
.formulario button:focus{
    background-color: #d63031;
    color: black;
}

.informacion{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: $bgSeccion;
    box-shadow:$box-shadow;
    margin-bottom: 100px;
    &__contenido{
        width: 40%;
        display: flex;
        flex-direction: column;
        .Caja{
            position: relative;
            padding: 15px 0;
            display: flex;
            &__iconos{
                min-width: 60px;
                height: 60px;
                background: $colorSecundario;
                margin-left:1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                i{
                    font-size: 30px;
                    &:hover{
                        color:$colorPrincipal;
                    }
                }
                
            }
            &__texto{
                display: flex;
                margin-left: 20px;
                font-size: 16px;
                color: #fff;
                flex-direction: column;
                font-weight: 300;
                h3{
                    font-weight: 500;
                    color: $colorPrincipal;
                }
            }
        }
    }
    &__maps{
        width: 60%;
        .maps{
            width: 100%;
        }
    }
}
.PreguntasFrecuentes{
    margin-bottom: 100px;
}