@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2900px, 0, 0); /* The image width */
    }
}

.marcas{
    background-color: #fff;
    overflow: hidden;
    .slider{
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: slide 30s linear infinite;
    }
    img{
        height: 50px;
        padding: 5px 50px;
        filter: grayscale(100%);
    }
}