//---------------------------
//-------Responsive----------
//---------------------------

@media screen and (max-width:1151px){
    .nh_item__contenido p{
        font-size: 1.2em;
    }
}


@media screen and (max-width:991px){
    .informacion{
        flex-direction: column;
        &__contenido{
            width: 100%;
            margin-bottom: 40px;
        }
        &__maps{
            width: 100%;
        }
    }
    .nuestra__historia{
        .nh_item__contenido p{
            font-size: 0.8em;
        }
    }
}


@media screen and (max-width:768px){
    .navbar-nav{
        background-color: $bg;
        border-radius: 5px;
        width: 100vw;
        height: 100vh;
        
    }
    .cabecera__nav {
        li a {
        font-size: 2rem;
        }
    }
    .categoria{
        width: 100%;
        margin-right: 50px;   
    }
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__categoria{
            width: 100%;
            max-width: 350px;
        }
        &__listado{
            width: 100%;
        }
    }
    .tarjeta{
        width: 240px;
        height: 400px;
        .tarjeta2{
            width: 240px;
            height: 400px;
            .d-block{
                object-fit: scale-down;
                height: 12rem;
            }
            .carousel:after{
                content: 'IMPER';
                position: absolute;
                top: 30%;
                left: -5%;
                font-size: 6em;
                font-weight: 800;
                font-family: guitaluevo;
                color: rgba(66, 66, 66, 0.07);
                rotate: -45deg;
            }
        }
    }
    .servicio__video{
        width: 100%;
    }
    .nuestra__historia{
        flex-direction: column;
        .nh_item{
            width: 100%;
            &:hover{
                width: 100%;
            }
        }
        .nh_item__contenido p{
            font-size: 0.8rem;
        }
    }
    .nosotros__imagen{
        width: 100%;
        object-fit: cover;
        min-width: 200px;
    }
    .nosotros__contenido{
        width: 100%;
        padding: 2rem;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__nav{
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-between;
    }
    .footer__nav ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer__nav ul li{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer__nav ul li a{
        width: 100%;
    }
    .rrss{
        margin:15px 0;
        padding: auto;
    }
    .formulario{
        display: flex;
        flex-direction: column;
    }
    .fila{
        grid-column: 1 / 2;
    }
    .contacto__rrss_img{  
        width: 100px;
    }
    .contacto__rrss_img:hover{  
        width: 100px;
    }
}

