// ---------------------------------- 
// ---- Estilos de Nosotros ---------
// ----------------------------------

.nuestra__historia{
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 100px;
    .nh_item{
        transform: translate3d(0, 0, 0);
        position: relative;
        width: 25%;
        height: 70vh;
        min-height: 300px;
        overflow: hidden;
        transition: width 0.5s ease;
        border-radius: 20px;
        margin: 15px;
        border: 1px solid $ColorTexto;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &:after {
            background: transparentize($bgCabecera, 0.5);
            opacity: 1;
            transition: opacity 0.5s ease;
        }
        &:before {
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 0.85) 40%
            );
            z-index: 1;
            opacity: 0;
            transform: translate3d(0, 0, 0) translateY(50%);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        &:hover {
            width: 80%;
            &:after {
                opacity: 0;
            }
            &:before {
                opacity: 1;
                transform: translate3d(0, 0, 0) translateY(0);
                transition: opacity 1s ease, transform 1s ease 0.25s;
            }
            .nh_item__contenido {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.75s ease 0.5s;
            }
            .nh_item__bg {
                filter: grayscale(100%);
                object-fit: cover;
            }
            .nh_item__fecha{
                background-color: $colorPrincipal;
                border-top: 1px solid $ColorTexto;
                border-bottom: 1px solid $ColorTexto;
                h3{
                    color: $ColorTexto;
                }
            }
        }
        &__fecha {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 10%;
            left: 50%;
            padding: 10px;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            background-color: $ColorTexto;
            border-top: 1px solid $colorPrincipal;
            border-bottom: 1px solid $colorPrincipal;
            h3 {
                font-family: guitaluevo, Helvetica Neue, Helvetica, Arial,
                sans-serif;
                color: $bg;
                font-size: 1.728rem;
                margin: auto;
                padding: auto;
            }
        }
        &__contenido {
            transform: translate3d(0, 0, 0) translateY(25px);
            position: relative;
            z-index: 1;
            text-align: center;
            margin: 0 1.618em;
            top: 20%;
            opacity: 0;
            p{
                font-size: 1.3em;
            }
        }
        .nh_item__bg {
            transform: translate3d(0, 0, 0);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            background-size: cover;
            background-position: center center;
            transition: filter 0.5s ease;
            filter: grayscale(0);
        }
    }
}

.nosotros{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: $bgSeccion;
    box-shadow:$box-shadow;
    margin-bottom:100px;
    &__contenido{
        width: 40%;
        flex:1 1 40rem;
        padding:2rem;
        .btn{
            @include boton($colorSecundario,$colorPrincipal)
        }
    }
    &__imagen{
        width: 50%;
        max-width: 120rem;
        margin: auto;
        padding: 0 1.5rem;
        &-galeria{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 0.5rem; 
            grid-template-areas: 'logo1 logo1 logo2'
                                'logo3 logo4 logo2';
            .logo1{
                grid-area: logo1;
            }
            .logo2{
                grid-area: logo2;
            }
            .logo3{
                grid-area: logo3;
            }
            .logo4{
                grid-area: logo4;
            }
        }
        img{
            width: 100%;
            border: 2px solid $colorSecundario;
            padding: 5px;
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            // position: relative;
        }
    }
    
    &__contenido-h2 {
        font-size: 2.5rem;
        /* margin: 1rem 0; */
        text-transform: uppercase;
    }
    &__contenido-h2 span{
        font-size: 2.5rem;
        margin: 1rem 0;
        text-transform: uppercase;
        color: $colorPrincipal;
    }
    &__contenido p{
        font-size: 1.3rem;
        padding:0.7rem 0;
        line-height: 1.2;
    }
}
.equipo{
    @extend .nosotros;
    &__contenido{
        @extend  .nosotros__contenido;
    }
    &__imagen img{
        max-width: 400px;
    }
}
