// ---------------------------------
// --- Estilos de Productos --------
// ---------------------------------
.productos_index{
    margin-bottom: 100px;
}
.productos{
    display: flex;
    width: 100%;
    justify-content: center;
    &__categoria{
        width: 25%;
        min-width: 270px;
        margin-right: 50px;
        box-shadow: $box-shadow;
        padding: 15px 10px 15px 10px;
        border-radius: 10px;
        margin-bottom: 100px;
        .dropdown-item{
            color: rgb(150, 150, 150);
            border-radius: 250px;
            &:hover{
                background-color: $colorPrincipal;
                color: #fff;
                border-radius: 250px;
            }
        }
        #navbarDropdown{
            color: rgb(150, 150, 150);
            padding-top: 5px;
            padding-bottom: 5px;
            &:hover{
                color: rgb(255, 255, 255);
                background-color: $colorPrincipal;
                border-radius: 250px;
            }
            &:focus{
                color: rgb(255, 255, 255);
                background-color: $colorPrincipal;
                border-radius: 250px;
            }
        }
        #menu__categ{
            position: static;
            transform: none;
            margin-left: 20px;
            background-color: $bg;
        }
    }
    &__listado{
        width: 75%;
        &__h2{
            grid-column-start: 1;
            grid-column-end: 7;
        }
        &-estructura{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
            gap:1rem;
            align-items:flex-start;
            margin-bottom: 50px;
            text-align: center;
            align-items: center;
        }
    }
}
.btn{
    @include boton($colorPrincipal,$ColorTexto)
}