// ---------------------------------
// ----- Estilos de Servicios ------
// ---------------------------------
.servicios__contenido{
    margin-bottom: 100px;
    text-align: center;
    p {
        font-size: 1.3rem;
    }
}
.servicio__video{
    width: 70%;
    text-align: center;
    margin: 30px 15%;
}