// ----------------------------------
// --- Creamos todas las Variable ---
// ----------------------------------

$colorPrincipal: rgb(255, 0, 47);
$colorSecundario: rgb(123,0,24);
$ColorTerciario: rgb(10, 10, 10);
$ColorTexto: #fffbed;
$bg: rgb(22, 22, 22);
$bgCabecera:rgba(10, 10, 10, 0.5);
$bgSeccion: rgb(22, 22, 22);
$border:.05rem solid rgba(255, 255, 255, 0.1);
$box-shadow:0 0 100px 0 rgba(255, 255, 255,.1);

@font-face {
    font-family: rocket;
    src: url('../font/redrocketital.ttf');
}
@font-face {
    font-family: rocketout;
    src: url('../font/redrocket3dital.ttf');
}
@font-face {
    font-family: guitaluevo;
    src: url('../font/Gitaluevo.ttf');
}